@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Gloria+Hallelujah&family=Outfit:wght@100..900&display=swap');@tailwind utilities;

:root {
  --background: rgb(9 9 11 / var(--tw-bg-opacity, 1));
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(9 9 11 / var(--tw-bg-opacity, 1));
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Outfit",'Lucida Sans';
}

.font-normal {
  font-family: "Outfit", 'Lucida Sans';
}

.font-informal {
  font-family: "Gloria Hallelujah", sans-serif;
  font-size: large;
}

.font-formal {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
}

.font-strong {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: crimson;
}

button {
  font-family: "Outfit",'Lucida Sans';
  font-size: medium;
  background-color: transparent;
  color:#ededed;
}